<div id="about">
<div class="jumbotron jumbotron-fluid">
  <style>
    body {font-family: "Audiowide", sans-serif;}
    h2 {text-align: center;}
  </style>
  <div class="container">
  <div id="wrapper" style="text-align:center; margin:0 auto;"> 
    <h1><b>About Tracker</b></h1> 
    <!-- Tracker- Intro Starts here -->
    <font size="+1"><u><i><b>The Tracker this created by Edmund, powered in MongoDB, which helps to store assignmnet data student entered. 
    In this mini program, students can edit their school task, helps them to keep the work organized, avoids missing work and late assignment submission.
    Students can see how much work will be involved in completing the project using assignment trackers. 
    This can lessen procrastination and provide a tool for people who become overwhelmed by larger work amount to track their progress.
    </b></i></u></font>
    <br></br>
    <img src="Assets/images/tracker.jpg" alt="1" width="600" height="430">
</div>

</div>