<div id="about">
<div class="jumbotron jumbotron-fluid">
  <style>
    body {font-family: "Audiowide", sans-serif;}
    h2 {text-align: center;}
  </style>
  <div class="container">
  <div id="wrapper" style="text-align:center; margin:0 auto;"> 
    <h1><b>About Me</b></h1> <!-- Self- Intro Starts here -->
    <font size="+1"><u><i><b>Welcome to my website. I am currently an undergraduate IT major student who is studying UOIT(Ontario Tech University), in this Personal Portfolio, i will showcase the projects i created in the previous school year, and also build a nice HTML web to reinforce my html and CSS coding skills that i just learned two weeks ago. For now, lets enjoy the video.</b></i></u></font>
    <video width="600" height="450"  controls preload="auto" autoplay loop id="video">
    <source src="Assets/video/Y2Mate.is - Welcome to Ontario Tech!-HXz08CyFE7E-720p-1657117303395.mp4" type="video/mp4"> 
    </video> 
</div>

</div>