<div id="contact">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <style>
      body {font-family: "Audiowide", sans-serif;}
      h2,h1,p{text-align: center;}
    </style>
    <div id="wrapper">
    <p> </p><br>
    <p> </p><br>
    <h1><u>Concerns? Feel Free To Reach Us! </u></h1> 
    <form action="Edg@email.com" ?subject=Signup Form method="post" 
    enctype="text/plain" name="form">
    <div id="form">
        <p> 
            <label for="name">Name</label><br> <!-- Name field -->
            <input type="text" name="name" placeholder="Input your name here" size="32" required> 
        </p>         
        </form> 
        <p> 
            <label for="email">Email</label><br> <!-- Email field -->
            <input name="email" type="email" placeholder="Input your email here" size="40" required> 
            </p>  
        <p> 
            <label for="comments">Comments</label><br> <!-- Comments field -->
            <textarea name="comments" placeholder="Write Comments Here" cols="60" rows="10" required></textarea> 
        </p> 
        <p><input type="submit" value="Submit"/></p>
        <p><input type="reset" value="Reset"/></p> 
    </div>
</div> 
  </div>  
</div>
<h1>Welcome to the Page</h1>

</div>