<div id="products">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <style>
    body {font-family: "Audiowide", sans-serif;}
    li {text-align: left;}
  </style>
  <body> 
      <div>
          <div>
            <div class="column" style="background-color:rgb(85, 244, 67);">
              <article> <!-- Project descripton starts here -->
              <h2><i>Products: Python Showcase</i></h2>
              <h3><u>Advantages to learn Python</u></h3>
              <ul style="list-style-type:disc">
              <li>Earning Potential----- Python is the second-highest paid computer language, according to Indeed. You can expect an average salary of USD 110,026 per year.</li>
              <li>Used in Many Industries----- Thanks to the benefits of Python's and its flexibility, you can find it in just about any industry. New Python programmers aren't limited to just data science.</li>
              <li>Flexibility----- Over 125,000 third-party Python libraries exist that enable you to use Python for machine learning, web processing, and even biology.</li>
              </ul>
              <h3><i>Project: ToDo List</i></h3>
              <p>In this Python project, I created a very simple Todo list, it can helps you to note important event in the future, and keep noticing you to complete. "To be a tough guy, to be tough" </p>
              <h3><i>Project: Word Counter</i></h3>
              <p>In this Python project, it all about counting the number of words, upper cases, lower case, etc.. of the user input, the purpose of creating this simple program is to help us demonstrate "args" in Python.</p>
              <h3><i>Project: Filehandling</i></h3>
              <p>In this Python project, I created a simple program to handling files by using the Python, you can manage the external file by type the command you want, such as adding content, adding files, and deleting files.</p>
              </article>
              <nav>
                <h4>
                  <a href="https://drive.google.com/file/d/1GU_Bp1TmsxyjXkKG8YWat0jNFFpxOxQf/view"><b><mark>Project: ToDo List Download Here!</mark></b></a></li>
                  <a href="https://drive.google.com/file/d/1HmTgM64DyeoieHnVAUX1whd1egH6WVuY/view"><b><mark>Project: Word Counter Download Here!</mark></b></a></li>
                  <a href="https://drive.google.com/file/d/1PVEhPfskvt79wA7X8LmU2lMmbjPq-xM3/view"><b><mark>Project: Filehandling Download Here!</mark></b></a></li>
                </h4>
              </nav>
              <img src="Assets/images/Python.svg.png" alt="1" width="300" height="250">
            </div>
        </div>
      </div> 
  </body>
</div>