<div id="service">
<div class="jumbotron jumbotron-fluid">
<div class="container">
  <style>
    body {font-family: "Audiowide", sans-serif;}
    h2 {text-align: center;}
    table, th, td {border:3px solid black;  margin-left: 135px;}
  </style>
  <div class="container">
  <div id="service" style="text-align:center; margin:0 auto;"> 
    <h1><b></b></h1>
    <h1><b>Service Schedule</b></h1>
    <table style="width:80%">
    <tr>
      <th>Date</th>
      <th>Time</th>
    </tr>
    <tr>
      <td>Monday</td>
      <td>10:30am - 5:00pm</td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td>10:30am - 5:00pm</td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td>10:30am - 5:00pm</td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td>10:30am - 5:00pm</td>
    </tr>
    <tr>
      <td>Friday</td>
      <td>10:30am - 5:00pm</td>
    </tr>
    <tr>
      <td>Saturday</td>
      <td>No Work</td>
    </tr>
    <tr>
      <td>Sunday</td>
      <td>No Work</td>
    </tr>
  </table>
  <h1><b></b></h1>
  <h1><b></b></h1>
  <h1><b></b></h1>
  <h1><b></b></h1>
</div>